html {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: $text_color;
	//background: $site_background_color;
	background: inherit;
	width: 100%;
	margin: 0;
	padding: 0px;
	-webkit-font-smoothing: antialiased;
}

// Inherit box-sizing to make it easier to change the property for components that leverage other behavior; 
// see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*:before,
*:after {
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

// Fallback for when there is no custom background color defined.
body {
	color: $text_color;
	background: $site_background_color;	
	width: 100%;
	margin: 0;
	padding: 0px;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	overflow-y: scroll;

	&.blog {
		background: $news_background_colour;

		#header {
			background: $news_background_colour !important;
		}
	}
}

.noselect, img, .slide-prev, .slide-next, .slide, .slidedots, #header, #header-inner, div, span, #menu-icon {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

// LINES
hr {
	margin:0;
	padding:0;
	border:0;
	border-top: $separator_height solid $borders_color;
	height:0px;
	width:100%;
}

@import "lists";

// Make sure images are scaled correctly.
// Adhere to container width.
img {
	height: auto; 
	max-width: 100%;
	display: block;
}

.text-item {
	width: 100%;
}

@import "links";

@import "tables";

// LOAD MORE. SYS.
.loadmore-holder {
	overflow: hidden;
}

/***
ERRORS 
***/
.error {
	background: #ffeeee;
	color: #ff5555;
}

/***
Page loader
***/
#pageloader {
	background: $loader_color;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 9998;
	display: none;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	
	&.Type-1 {
		padding:0;
		overflow:visible;
		width: 40px;
		height: 40px;
		margin-top: -20px;
		margin-left: -20px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius: 20px;
	}

	&.Type-2 {
		width: 20px;
		height: 20px;
		margin-top: -10px;
		margin-left: -10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}

	&.Type-3 {
		width: 40px;
		height: 40px;
		margin-top: -20px;
		margin-left: -20px;
	}

	&.Type-4 {
		width: 20px;
		height: 20px;
		margin-top: -10px;
		margin-left: -10px;
	}

	&.Type-5 {
		width: auto;
		height: auto;
		margin-left: 0;
		margin-top: 0;
		text-align: center;
		background: transparent;
	}
}

/***
IMG Preloads 
***/
.slide-spinn {
	background: $loader_color;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	z-index: 99;
}


.scss_errors {
	position: fixed;
	bottom: 0;
	background: cadetblue;
	color: white;
	z-index: 10000;

	 pre {
		padding: 20px;
		margin: 0;
		border: 0;
		overflow: scroll;
		white-space: inherit;
		font-size: large;
	 }
}